.site-header {
    background-image: url('images/header-bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 50px;   /* 角丸 */
    padding: 40px;
    text-align: center;
    color: black;
}

body {
    background-image: url('images/cream-well.png'); /* 自作PNGのパス */
    background-repeat: no-repeat;   /* 繰り返さない */
    background-size: cover;         /* 画面いっぱいに拡大縮小 */
    background-position: center;    /* 中央に配置 */
    background-attachment: fixed;   /* スクロールしても固定 */
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.profile-icon {
    width: 310px;
    height: 400px;
}

.profile-text h1 {
    margin: 0;
    font-size:3em;
    color: black;
}

.profile-text p {
    font-size: 1.4em;
    color: black;
}

.profile-links {
    margin-top: 15px;
    display: flex;
    gap: 10px;                 /* ボタン間の間隔 */
    flex-wrap: wrap;           /* はみ出たら折り返す */
}

.profile-links a {
    text-decoration: none;     /* 下線を消す */
    color: white;
    background-color: #f0a500; /* ボタンの色 */
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.profile-links a:hover {
    background-color: #d18c00; /* ホバー時の色 */
}

.links-title {
    text-align: center;   /* 真ん中に配置 */
    font-size: 1.8em;
    color: black;
    margin-bottom: 20px;
}
