.site-header {
    background-image: url('images/header-bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 50px;   /* 角丸 */
    padding: 40px;
    text-align: center;
    color: black;
}

body {
    background-image: url('images/cream-well.png'); /* 自作PNGのパス */
    background-repeat: no-repeat;   /* 繰り返さない */
    background-size: cover;         /* 画面いっぱいに拡大縮小 */
    background-position: center;    /* 中央に配置 */
    background-attachment: fixed;   /* スクロールしても固定 */
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.profile-icon {
    width: 310px;
    height: 400px;
}

.profile-text h1 {
    margin: 0;
    font-size:3em;
    color: black;
}

.profile-text p {
    font-size: 1.4em;
    color: black;
}

.links-title {
    text-align: center;   /* 真ん中に配置 */
    font-size: 3em;
    color: black;
    margin-bottom: 20px;
}

.links-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;  /* ボタン間の間隔 */
    flex-wrap: wrap;
}

.site-btn {
    font-size: 1.8em;             /* 大きな文字 */
    font-weight: bold;
    color: #ff4d4d;                /* 通常の赤 */
    text-decoration: none;
    padding: 10px 20px;            /* 文字周りの余白 */
    border: 2px solid #ff4d4d;     /* 線も赤に */
    border-radius: 5px;
    transition: all 0.3s ease;     /* アニメーション */
}

.site-btn:hover {
    color: #ff1a1a;                /* ホバー時は少し暗い赤 */
    border-color: #ff1a1a;         /* 線も同じ色に変化 */
}

.Xsite-btn {
    font-size: 1.8em;            /* 大きめ文字 */
    font-weight: bold;
    color: #888888;               /* 通常は灰色 */
    text-decoration: none;
    padding: 10px 20px;           /* 文字周りの余白 */
    border: 2px solid #888888;    /* 枠線も灰色 */
    border-radius: 5px;
    transition: all 0.3s ease;    /* スムーズに変化 */
}

.Xsite-btn:hover {
    color: #000000;               /* ホバーで黒に */
    border-color: #000000;        /* 枠線も黒に */
}
